body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
button{
    background-color: brown;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    color: rgb(218, 222, 243);
    font-style: italic;
    font-size: x-large;
    font-weight: 900;
    text-align: center;
}
.displayUser, .displayWinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 150px;
    background-color: aliceblue;
    text-align: center;
}
.displayUser{
margin-top: 40px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.displayWinner{
    margin-bottom: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
button:hover{
    background-color: cadetblue;
}